
body{
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 150vh;
    background-color: hsl(140, 35%, 68%);
}
#calculator{
    font-family: Arial,sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius:20px;
    max-width: 350px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding:1px;
    font-size: 5em;
    text-align: left;
    border: 200px;
    background-color: hsl(0, 10%, 86%)
    color: white;
    
}

 #keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}
button{
    width:70px;
    height: 70px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    backgroung-color: hsl(0,0%,40%);
}
button:active{
    background-color:hsl(0,0%,50%);
}
.operator-btn{
    background-color: hsl(35,100%,55%);
}
.operator-btn:hover{
    background-color: hsl(35,100%,65%);
}
.operator-btn:active{
    background-color: hsl(35,100%,75%);
}